{% extends 'forms/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../static/assets/img/slide/slide-1.jpg)">
          <div class="container">
            <h2>Welcome to <span>GoProApp</span></h2>
            <p>Welcome to Go Pro App.</p>
=======
            <h2>Welcome to <span>All Nairobi hospitals center.</span></h2>
            <p>The Earth does not belong to us: we belong to the Earth.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(../static/assets/img/slide/slide-2.jpg)">
          <div class="container">
            <h2>Services Availability</h2>
            <p>At GreenApp, we've revolutionized garbage collection services, making them not only accessible but also incredibly easy to use. With our intuitive platform, clients can effortlessly browse and select from a wide range of waste management options tailored to their needs. Say goodbye to hassle and hello to convenience – our platform puts the power of choice right at your fingertips, ensuring a seamless experience for every user.</p>
=======
            <h2>Sustainability</h2>
            <p>"Nature always wears the colors of the spirit." - Ralph Waldo Emerson</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(../static/assets/img/slide/slide-3.jpg)">
          <div class="container">
            <h2>Time Concious and Client Tailored</h2>
            <p>With GreenApp, accessing essential services is as simple as a single click. Our platform connects users with a diverse range of service providers who are readily available to fulfill their needs. From home maintenance to healthcare, our network ensures that help is always just one click away. Say goodbye to time-consuming searches and waiting periods – with GreenApp, convenience and efficiency are guaranteed.</p>
=======
            <h2>Ecology</h2>
            <p>We wont have a society if we destroy the environment.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="">Waste collection(Timely)</a></h4>
              <p class="description">We ensure a timely waste collection services as our service providers are one click away and very time consious.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href="">Medical Waste</a></h4>
              <p class="description">We go to every health facility in every corner of this country to ensure that we have a clean health facility and provide inseneration services according to standards set.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-thermometer"></i></div>
              <h4 class="title"><a href="">Construction Waste</a></h4>
              <p class="description">You are building a new home or demolishing old homes, we got you covered. All your construction wastes are in good hands as we will come all the way to your location to pick it up on time.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="">Organic Waste</a></h4>
              <p class="description">Looking for a place to dispose your kitchen waste, GreenApp is the solution for your nightmare. We have our service vehicles ready to tow any route to reach your deatination.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>In an emergency? Need help now?</h3>
          <p> We have a flexible service delivery routine to ensure that you are served at your own convinience 24 hours a week. Our services and application us accesible any hour if the day. You click we come since a green and habitable environment is what we pride in.</p>
          <a class="cta-btn scrollto" href="#booking">Make an Make a Booking</a>
        </div>

      </div>
    </section><!-- End Cta Section -->



  </main><!-- End #main -->

{% endblock %}
